# 这个值会被 @bable/preset-env 和 Autoperfixer 用来确定需要转译的Javascript 特性和需要添加的CSS 浏览器前缀

# 兼容到超过百分之1的用户使用的浏览器
# > 1%

# 兼容到最后两的个版本 （浏览器的版本 比如ie现在是11 兼容的就是 10 11）
# last 2 versions

# not dead

# 因为我们项目是移动端 我们不需要上面默认的配置 所以注释掉了上面默认配置的代码
# 兼容Android4.0以上 和ios8以上
Android >= 4.0
iOS >= 8